<!-- <app-lesson1></app-lesson1> -->
<!-- <app-lesson3></app-lesson3> -->


<!-- 
<p>{{ 'example' | repeat: 3: '@' }}</p>

{{aaa.password}} -->

<!-- <app-pratice1></app-pratice1> -->


<!-- <app-lesson4></app-lesson4> -->
<!-- <app-homework1></app-homework1> -->

<!-- <app-lesson5></app-lesson5> -->

<!-- <app-lesson6-1></app-lesson6-1> -->


<a [routerLink]="['/lesson1']">Lesson1</a>
<a [routerLink]="['/lesson2']">Lesson2</a>
<a [routerLink]="['/lesson3']">Lesson3</a>
<a [routerLink]="['/lesson4']">Lesson4</a>
<a [routerLink]="['/lesson5']">Lesson5</a>
<a [routerLink]="['/lesson6']">Lesson6</a>
<a [routerLink]="['/dyclass']">Dyclass</a>
<a [routerLink]="['/lesson7']">Lesson7</a>
<a [routerLink]="['/callhttp']">callHttp</a>
<a [routerLink]="['/model-driven']">model-driven</a>
<br>
<router-outlet></router-outlet>
<!-- 
<app-homework2></app-homework2> -->


<!-- <div class="container">
    <app-dyclass></app-dyclass>
</div> -->

<!-- <div class="container">
    <app-jq1></app-jq1>
</div> -->


